<div id="quiz-waiting-room-container" class="basic-card">
  <h1 class="basic-title bordered">Nouveau quiz</h1>

  <div id="waiting-room-body">
    <div id="players-list" class="basic-card-section" *ngIf="players != null">
      <h2 class="basic-title bordered">Joueurs</h2>

      <app-quiz-player
        *ngFor="let player of players"
        withDate="true"
        [player]="player"
      >
      </app-quiz-player>
    </div>

    <div id="waiting-room-right-section">
      <div class="quiz-param">
        <i class="fa {{ ICONS.questionNbr }} quiz-param-icon"></i>
        <div class="quiz-param-label">{{ quiz.nbr_questions }} questions</div>
      </div>
      <div class="quiz-param">
        <i class="fa {{ ICONS.questionDuration }} quiz-param-icon"></i>
        <div class="quiz-param-label">
          {{ quiz.question_duration | duration }} par question
        </div>
      </div>

      <div id="quiz-controls">
        <app-basic-button (clicked)="shareLink()" [icon]="ICONS.shareQuiz">
          Inviter
        </app-basic-button>

        <app-basic-button
          (clicked)="startQuiz.emit()"
          [icon]="ICONS.questionAdd"
          *ngIf="admin"
        >
          Commencer le quiz
        </app-basic-button>
      </div>
    </div>
  </div>
</div>
