<div id="questions-list-container">
  <div class="centered">
    <app-basic-loader *ngIf="loading.first"></app-basic-loader>
  </div>
  <div class="basic-table-container">
    <table
      class="basic-table"
      id="questions-table"
      *ngIf="questions.length > 0"
    >
      <thead>
        <tr>
          <th>Creation</th>
          <th>Label</th>
          <th>Type</th>
          <th>Réponse</th>
          <th>Image</th>
          <th>Cachée</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>{{ question.creation_date | date: 'dd/MM/yyyy (hh:mm)' }}</td>
          <td>
            <div
              (click)="setEditQuestion(question)"
              *ngIf="question.uuid !== questionEdit.question?.uuid"
              class="label-container"
            >
              {{ question.label }}
            </div>
            <div
              *ngIf="question.uuid === questionEdit.question?.uuid"
              class="edit-label-container"
            >
              <input
                class="edit-label-input"
                type="text"
                [(ngModel)]="questionEdit.label"
              />

              <button
                (click)="setLabel()"
                mat-icon-button
                matTooltip="Valider l'édition"
                [disabled]="
                  questionEdit.label.length < QUESTION_TITLE_MIN_LENGTH ||
                  questionEdit.label.length > QUESTION_TITLE_MAX_LENGTH
                "
              >
                <i class="fa {{ ICONS.check }}"></i>
              </button>
            </div>
          </td>
          <td>{{ question.type }} ({{ question.sub_type }})</td>
          <td>
            {{
              question.rightResponse
                ? question.rightResponse.label
                : question.response_precise
            }}
          </td>
          <td>
            <a
              *ngIf="question.picture"
              [href]="question.picture"
              target="_blank"
              >lien</a
            >
          </td>
          <td class="center">
            <mat-checkbox
              (change)="setHidden(question, $event.checked)"
              [(ngModel)]="question.hidden"
            ></mat-checkbox>
          </td>
          <td class="center">
            <button
              (click)="goEdit(question)"
              mat-icon-button
              matTooltip="Editer la question"
            >
              <i class="fa {{ ICONS.edit }}"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="basic-overlay centered" *ngIf="loading.more">
      <app-basic-loader></app-basic-loader>
    </div>
  </div>

  <app-basic-pagination
    *ngIf="!loading.first"
    (goPage)="goPage($event)"
    [pagination]="pagination"
  ></app-basic-pagination>
</div>
