@import "./../../../../style-var.scss";

$padding-horizontal: 50px;

$background-color: #ffffff;

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 $padding-horizontal;
  height: 100%;

  background-color: $primary-color;
  border-bottom: 1px solid $secondary-color;

  > #toolbar-left-elements,
  > #toolbar-right-elements {
    display: flex;
    align-items: center;

    > * {
      margin: 0 5px;
    }
  }
}
