<mat-toolbar class="chien" id="toolbar" [class.scrolled]="homeScrolled">
  <div id="toolbar-left-elements"></div>

  <div id="toolbar-middle-elements">
    <img id="toolbar-logo" src="assets/img/logo.png" (click)="goHome()" />
  </div>

  <div id="toolbar-right-elements">
    <button
      (click)="goDashboard()"
      *ngIf="userConnected"
      mat-icon-button
      matTooltip="Mes parties"
      class="mobile-hidden"
    >
      <i class="fa fa-list bordered-icon"></i>
    </button>

    <button
      (click)="goAddQuestion()"
      *ngIf="userConnected"
      mat-icon-button
      matTooltip="Proposer une question"
      class="mobile-hidden"
    >
      <i class="fa fa-plus bordered-icon"></i>
    </button>

    <button
      (click)="logout()"
      *ngIf="userConnected"
      mat-icon-button
      matTooltip="Se déconnecter"
      class="mobile-hidden"
    >
      <i class="fa fa-sign-out bordered-icon"></i>
    </button>

    <button
      *ngIf="userConnected"
      [matMenuTriggerFor]="mobileMenu"
      mat-icon-button
      class="mobile-showed"
    >
      <i class="fa fa-bars bordered-icon"></i>
    </button>

    <mat-menu #mobileMenu="matMenu" class="mobile-showed">
      <button (click)="goDashboard()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-list"></i>
        Mes parties
      </button>
      <button (click)="goAddQuestion()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-plus"></i>
        Proposer une question
      </button>
      <button (click)="logout()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-sign-out"></i>
        Se déconnecter
      </button>
    </mat-menu>

    <button
      *ngIf="!userConnected"
      [matMenuTriggerFor]="menu"
      mat-icon-button
      matTooltip="Open menu connection"
    >
      <i class="fa fa-user bordered-icon"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLogin()">
        <i class="fa fa-sign-in"></i>
        Se connecter
      </button>
      <button mat-menu-item (click)="openRegister()">
        <i class="fa fa-user-plus"></i>
        S'enregistrer
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
