@import "./../../../../style-var.scss";

$padding-horizontal: 50px;

$background-color: #ffffff;

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 $padding-horizontal;
  height: 100%;

  background-color: var(--accent-lighter-color);

  transition: background-color 0.3s ease-in-out;

  &.red {
    background-color: var(--primary-color);
  }

  > #toolbar-left-elements,
  > #toolbar-right-elements {
    display: flex;
    align-items: center;

    > * {
      margin: 0 5px;
    }
  }
}
