<mat-toolbar id="toolbar">
  <div id="toolbar-left-elements">
    <button (click)="goHome()" mat-icon-button matTooltip="Go home">
      <i class="fa fa-newspaper-o"></i>
    </button>
    <div id="toolbar-title">
      Questions app
    </div>
  </div>

  <div id="toolbar-right-elements">
    <button
      (click)="goAddQuestion()"
      *ngIf="userConnected"
      mat-icon-button
      matTooltip="Add question"
      class="mobile-hidden"
    >
      <i class="fa fa-plus"></i>
    </button>

    <button
      (click)="logout()"
      *ngIf="userConnected"
      mat-icon-button
      matTooltip="Log out"
      class="mobile-hidden"
    >
      <i class="fa fa-sign-out"></i>
    </button>

    <button
      *ngIf="userConnected"
      [matMenuTriggerFor]="mobileMenu"
      mat-icon-button
      class="mobile-showed"
    >
      <i class="fa fa-bars"></i>
    </button>

    <mat-menu #mobileMenu="matMenu" class="mobile-showed">
      <button (click)="goDashboard()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-list"></i>
        View my dashboard
      </button>
      <button (click)="goAddQuestion()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-plus"></i>
        Add question
      </button>

      <button (click)="logout()" *ngIf="userConnected" mat-menu-item>
        <i class="fa fa-sign-out"></i>
        Log out
      </button>
    </mat-menu>

    <button
      *ngIf="!userConnected"
      [matMenuTriggerFor]="menu"
      mat-icon-button
      matTooltip="Open menu connection"
    >
      <i class="fa fa-user"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLogin()">
        <i class="fa fa fa-sign-in"></i>
        Log in
      </button>
      <button mat-menu-item (click)="openRegister()">
        <i class="fa fa fa-user-plus"></i>
        Register
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
