#admin-container {
    position: relative;
    overflow: hidden;

    > app-basic-tabs {
        position: absolute;
        
        width: 100%;

        top: 0;
        left: 0;
        right: 0;
    }

    > .content {
        margin-top: 50px;
    }
}