<div id="quiz-container">
  <div class="centered">
    <app-basic-loader
      *ngIf="quizStatus === QuizStatus.LOADING"
    ></app-basic-loader>
  </div>

  <app-quiz-waiting-room
    *ngIf="quizStatus === QuizStatus.WAITING"
    (startQuiz)="startQuiz()"
    [players]="players"
    [quiz]="quiz"
    [admin]="me && me.admin"
  ></app-quiz-waiting-room>

  <app-quiz-starting
    *ngIf="quizStatus === QuizStatus.STARTING"
    [players]="players"
    (countdownFinished)="startCountdownFinished()"
  ></app-quiz-starting>

  <div *ngIf="quizStatus === QuizStatus.ONGOING" class="basic-card">
    <app-quiz-infos
      [quiz]="quiz"
      [currentIndex]="currentQuestion.index"
      [me]="me"
      [players]="players"
    ></app-quiz-infos>

    <app-question
      (selectResponse)="anwserResponse({ response: $event })"
      (responsePrecise)="anwserResponse({ precise: $event })"
      (responseRanked)="anwserResponse({ ranked: $event })"
      [question]="currentQuestion"
      [me]="me"
    ></app-question>
  </div>

  <app-quiz-ending-summary
    *ngIf="quizStatus === QuizStatus.FINISHED"
    [quiz]="quiz"
    [score]="me.score"
    [players]="players"
    [me]="me"
  ></app-quiz-ending-summary>
</div>
