<div id="quiz-container">
  <app-quiz-loading
    *ngIf="quizStatus === QuizStatus.LOADING"
  ></app-quiz-loading>

  <app-quiz-waiting-room
    *ngIf="quizStatus === QuizStatus.WAITING"
    (startQuiz)="startQuiz()"
    [players]="players"
  ></app-quiz-waiting-room>

  <div *ngIf="quizStatus === QuizStatus.STARTING">
    <app-quiz-starting></app-quiz-starting>
  </div>

  <div *ngIf="quizStatus === QuizStatus.ONGOING">
    <app-quiz-infos [quiz]="quiz" [currentIndex]="currentQuestion.index" [score]="me.score" [players]="players"></app-quiz-infos>

    <app-question
      (selectResponse)="anwserResponse($event)"
      [question]="currentQuestion"
    ></app-question>
  </div>

  <app-quiz-ending-summary
    *ngIf="quizStatus === QuizStatus.FINISHED"
    [quiz]="quiz"
    [score]="me.score"
  ></app-quiz-ending-summary>
</div>
