<div id="quiz-container">
  <app-quiz-loading
    *ngIf="quizStatus === QuizStatus.LOADING"
  ></app-quiz-loading>

  <app-quiz-waiting-room
    *ngIf="quizStatus === QuizStatus.WAITING"
    (startQuiz)="startQuiz()"
    [players]="players"
  ></app-quiz-waiting-room>

  <div *ngIf="quizStatus === QuizStatus.ONGOING">
    <app-quiz-infos [quiz]="quiz" [score]="score"></app-quiz-infos>

    <app-question
      (selectResponse)="anwserResponse($event)"
      [question]="currentQuestion"
    ></app-question>
  </div>

  <app-quiz-ending-summary
    *ngIf="quizStatus === QuizStatus.FINISHED"
    [quiz]="quiz"
    [score]="score"
  ></app-quiz-ending-summary>
</div>
