<div id="question-container">
  <div id="question-label">
    {{ question.label }}
  </div>

  <div
    id="question-picture-container"
    class="centered"
    *ngIf="question.picture"
  >
    <img id="question-picture" [src]="question.picture" />
  </div>

  <div
    id="question-responses"
    *ngIf="
      ResponseType.isRegular(question.type) &&
      question.sub_type !== QuestionSubType.RANKING
    "
  >
    <app-response
      *ngFor="let questionResponse of question.responses"
      [response]="questionResponse.response"
      (selectResponse)="answer(questionResponse.response)"
      [answerStatus]="me.answerStatus"
    ></app-response>
  </div>

  <div
    id="question-response-precise"
    *ngIf="
      ResponseType.isPrecise(question.type) &&
      question.sub_type !== QuestionSubType.RANKING
    "
  >
    <form [formGroup]="preciseFormGroup" class="basic-form">
      <div class="basic-form-inputs">
        <mat-form-field appearance="outline" class="basic-form-input">
          <mat-label>Année</mat-label>
          <input matInput formControlName="year" />
          <mat-error> Année invalide </mat-error>
        </mat-form-field>
      </div>

      <app-basic-button
        (clicked)="answerPrecise()"
        [icon]="ICONS.check"
        [disabled]="
          preciseFormGroup.invalid ||
          me.answerStatus !== PlayerAnswerStatus.NONE
        "
      >
        Valider
      </app-basic-button>
    </form>
  </div>

  <div
    *ngIf="question.sub_type === QuestionSubType.RANKING"
    id="question-ranking-responses-container"
  >
    <div [sortablejs]="rankedResponses" id="question-ranking-responses">
      <div
        *ngFor="let response of rankedResponses; let i = index"
        class="ranking-response"
      >
        <span class="ranking">{{ i + 1 }}</span>
        <span class="response">{{ response.label }}</span>
      </div>
    </div>

    <app-basic-button
      [icon]="ICONS.check"
      (clicked)="answerRanking()"
      full="true"
      [disabled]="me.answerStatus !== PlayerAnswerStatus.NONE"
    >
      Valider
    </app-basic-button>
  </div>
</div>
