$space-between-responses: 20px;

#question-container {
  > #question-label {
      color: #ffffff;
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 40px;
  }

  > #question-responses {
    > app-response {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: $space-between-responses;
      }
    }
  }
}
