@import './../../../../style-var.scss';

$space-between-responses: 20px;
$space-between-elements: 40px;

$ranking-response-height: 50px;

#question-container {
  > #question-label {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: $space-between-elements;
  }

  > #question-picture-container {
    margin-bottom: $space-between-elements;

    > #question-picture {
      max-width: 100%;
      border-radius: 40px;
      box-shadow: $base-shadow;
    }
  }

  > #question-responses {
    > app-response {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: $space-between-responses;
      }
    }
  }

  #question-ranking-responses-container {
    #question-ranking-responses {
      margin: 10px 0;

      > .ranking-response {
        display: flex;
        align-items: center;

        height: $ranking-response-height;

        background-color: var(--transparency-light);
        border: 1px solid var(--transparency-middle);

        // same padding as mat-input
        padding: 0 0.75em;

        cursor: move;

        &.sortable-ghost {
          box-shadow: $base-shadow;
        }

        &.sortable-chosen {
          box-shadow: $base-shadow;

          background-color: var(--transparency-middle);
          border-color: var(--transparency-dark);
        }

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

        &:only-child {
          border-radius: 5px;
        }

        > .ranking {
          padding: 0.75em;
          font-weight: 600;
        }

        > .response {
        }
      }
    }
  }
}
