<div class="lds-ring">
  <div
    [style.border-color]="(color ? color : DEFAULT_COLOR) + ' transparent transparent transparent'"
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="(color ? color : DEFAULT_COLOR) + ' transparent transparent transparent'"
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="(color ? color : DEFAULT_COLOR) + ' transparent transparent transparent'"
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="(color ? color : DEFAULT_COLOR) + ' transparent transparent transparent'"
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
</div>
