<div
  class="lds-ring"
  [style.height]="size ? size : DEFAULT_SIZE"
  [style.width]="size ? size : DEFAULT_SIZE"
>
  <div
    [style.border-color]="
      (color ? color : DEFAULT_COLOR) +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground
    "
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="
      (color ? color : DEFAULT_COLOR) +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground
    "
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="
      (color ? color : DEFAULT_COLOR) +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground
    "
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
  <div
    [style.border-color]="
      (color ? color : DEFAULT_COLOR) +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground +
      ' ' +
      colorBackground
    "
    [style.border-width]="borderWidth ? borderWidth : DEFAULT_BORDER_WIDTH"
  ></div>
</div>
