<div id="quiz-init-container" *ngIf="userConnected">
  <div id="new-quiz-container">
    <form [formGroup]="newQuizFormGroup" class="basic-form">
      <div class="basic-form-inputs">
        <label
          for="questionDuration"
          class="basic-form-label"
          ><i class="fa {{ ICONS.questionDuration }} basic-label-icon" Nombre de questions></i
          >Durée des questions</label
        >
        <mat-form-field appearance="outline" class="basic-form-input">
          <mat-select
            [formControl]="newQuizFormGroup.controls['questionDuration']"
            name="questionDuration"
          >
            <!-- [formControl]="newQuizFormGroup.controls['questionDuration']" -->
            <mat-option
              *ngFor="let duration of questionDurations"
              [value]="duration"
              >{{ duration | duration }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <label for="nbrQuestions" class="basic-form-label"
          ><i class="fa {{ ICONS.questionNbr }} basic-label-icon" Nombre de questions></i>Nombre
          de questions</label
        >
        <mat-form-field appearance="outline" class="basic-form-input">
          <mat-select
            [formControl]="newQuizFormGroup.controls['nbrQuestions']"
            name="nbrQuestions"
          >
            <mat-option *ngFor="let nbr of nbrQuestions" [value]="nbr">{{
              nbr
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <app-basic-button (click)="newQuiz()" [icon]="ICONS.questionAdd">
      Nouveau quiz
    </app-basic-button>
  </div>
  <!-- <div id="join-quiz-container">
    <form [formGroup]="joinQuizFormGroup">
      <div class="basic-form-inputs">
        <mat-form-field appearance="outline" class="basic-form-input">
          <mat-label>Quiz url</mat-label>
          <input matInput formControlName="quizUrl" />
          <mat-error> Entrez une url </mat-error>
        </mat-form-field>
      </div>
      <button class="basic-button" mat-flat-button (click)="joinQuiz()">
        Rejoindre quiz
      </button>
    </form>
  </div> -->
</div>
<div id="quiz-init-container" *ngIf="!userConnected">
  Connect to join a quiz
</div>
