@import "../style-var.scss";

#page-container {
  display: flex;
  justify-content: center;

  background-image: linear-gradient( 135deg, #923c7a 10%, #2D26FB 100%);

  padding-top: $toolbar-height;
  min-height: calc(100vh - #{$toolbar-height});

  > app-toolbar {
    position: fixed;
    top: 0;
    left: 0;

    height: $toolbar-height;
    width: 100vw;

    z-index: 1000;
  }

  > #main-container {
    width: 100%;
    max-width: $main-container-max-width;

    margin: $main-container-margin-vertical 0;

    padding: 0 40px;
  }

  @media only screen and (max-width: $main-container-max-width) {
    margin: 0;

    > #main-container {
      margin: 0;
    }

    > h1 {
      text-align: center;
    }

    > p {
      padding: $main-container-margin-vertical;

      text-align: center;
    }
  }
}
