@import "./../../../style-var.scss";

$background-color: #ffffff;

$comments-divider-color: var(--accent-color);

#article-details {
  > #article-header {
    display: block;

    width: 100%;

    border-bottom: 1px solid $comments-divider-color;
  }

  > #article-container {
    > #article-body {
    }

    > #comments-container {
      position: relative;

      margin-top: $main-container-white-block-padding;
      padding-top: $main-container-white-block-padding;

      &::before {
        content: "";

        position: absolute;

        top: 0;
        left: calc(-#{$main-container-white-block-padding});

        width: calc(100% + 2 *#{$main-container-white-block-padding});
        height: 1px;

        background-color: $comments-divider-color;
      }
    }
  }
}
