@import "./../../../style-var.scss";

$background-color: #ffffff;

#article-details {
  > #article-container {
    > #article-header {
      display: block;

      margin-top: calc(-#{$main-container-white-block-padding});
      margin-left: calc(-#{$main-container-white-block-padding});

      width: calc(100% + 2 *#{$main-container-white-block-padding});

      border-bottom: 1px solid $page-background-color;
    }

    > #article-body {
      padding-top: $main-container-white-block-padding;
    }
  }
}
