@import "./../../../../style-var.scss";

$background-color: #ffffff;

$border-width: 1px;

$padding-vertical: 20px;
$padding-horizontal: 50px;

.article-item {
  padding: $padding-vertical $padding-horizontal;
  width: calc(100% - 2 *#{$padding-horizontal} - 2*#{$border-width});

  background-color: $background-color;
  border: $border-width solid $grey-clear-color;

  > .article-item-title {
  }

  > .article-infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .article-item-date {
      margin-left: 20px;
    }

    > .article-item-author {
    }
  }
}
