@import "./../../../../style-var.scss";

$background-color: #ffffff;

$padding-vertical: 20px;
$padding-horizontal: 50px;

.article-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: $padding-vertical $padding-horizontal;
  width: calc(100% - 2 *#{$padding-horizontal});

  background-color: $background-color;

  > .article-item-content {
    > .article-item-title {
    }

    > .article-infos {
      display: flex;
      flex-direction: row;
      align-items: center;

      > .article-info {
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }

  > .article-controls {
  }
}
