@import './../../../../style-var.scss';

#ending-quiz-summary-container {
  > #quiz-ending-medal {
    display: flex;
    align-items: center;
    justify-content: center;
    
    > app-quiz-ending-medal {
      display: block;
  
      margin-bottom: 20px;
    }
  }

  > h2 {
    margin-bottom: 20px;
  }

  > app-quiz-player {
    display: block;

    &:not(:last-of-type) {
      margin-bottom: $space-between-players;
    }
  }
}
