<div id="login-container">
  <form id="login-form" class="basic-form" [formGroup]="loginFormGroup">
    <h1 class="basic-title bordered">Login</h1>

    <p>No account? <a (click)="openRegisterDialog()">Create one</a></p>

    <div class="basic-form-inputs">
      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error> Please enter a valid email address </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error>
          Le mot de passe doit contenir {{ PASSWORD_MIN_LENGTH }} caractères minimum
        </mat-error>
      </mat-form-field>

      <mat-checkbox class="basic-form-checkbox" formControlName="rememberMe"
        >Se souvenir de moi</mat-checkbox
      >
    </div>

    <div
      class="basic-form-buttons-container"
      [matTooltip]="
        loginFormGroup.invalid ? 'Veuillez remplir tous les champs' : null
      "
    >
      <app-basic-button
        (clicked)="login()"
        [disabled]="loginFormGroup.invalid || submitting"
        [icon]="ICONS.login"
        [loading]="submitting"
      >
        Se connecter
      </app-basic-button>
    </div>
  </form>
</div>
