<form
  id="add-question-form"
  class="basic-form basic-card"
  [formGroup]="addQuestionFormGroup"
>
  <h1 class="basic-title bordered">Proposer une question</h1>

  <div class="basic-form-inputs">
    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-label>Question</mat-label>
      <input matInput formControlName="label" />
      <mat-error>
        Label must be between {{ TITLE_MIN_LENGTH }} and
        {{ TITLE_MAX_LENGTH }} characters long
      </mat-error>
    </mat-form-field>

    <label for="responseType" class="basic-form-label">Type de réponse</label>
    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-select
        [formControl]="addQuestionFormGroup.controls['responseType']"
        name="responseType"
      >
        <mat-option *ngFor="let type of responseTypes" [value]="type.value">{{
          type.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="addQuestionFormGroup.get('responseSelected').value != null">
      Selected: {{ addQuestionFormGroup.get("responseSelected").value.label }}
    </div>

    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-label>Chercher une réponse</mat-label>
      <input
        type="text"
        matInput
        #searchInput
        (input)="searchTxt = $event.target.value; searchSuggestions()"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectResponse($event.value)"
      >
        <mat-option
          *ngFor="let res of matchingResponses"
          [value]="res"
          (click)="selectResponse(res)"
          >{{ res.label }}</mat-option
        >
        <mat-option
          *ngIf="searchTxt != null && searchTxt !== ''"
          (click)="addNewResponse()"
          >Add new response</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div
    [matTooltip]="
      addQuestionFormGroup.invalid ? 'At least one field is invalid' : null
    "
  >
    <app-basic-button
      (click)="submit()"
      [disabled]="addQuestionFormGroup.invalid || submitting"
      [icon]="ICONS.questionAdd"
    >
      Ajouter
    </app-basic-button>
  </div>
</form>
