<form
  id="add-question-form"
  class="basic-form basic-card"
  [formGroup]="addQuestionFormGroup"
>
  <h1 class="basic-title bordered">Proposer une question</h1>

  <div class="basic-form-inputs">
    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-label>Question</mat-label>
      <input matInput formControlName="label" />
      <mat-error>
        Le titre doit avoir une longeur comprise entre
        {{ QUESTION_TITLE_MIN_LENGTH }} et
        {{ QUESTION_TITLE_MAX_LENGTH }} caractères
      </mat-error>
    </mat-form-field>

    <label for="responseType" class="basic-form-label">Type de réponse</label>
    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-select
        [formControl]="addQuestionFormGroup.controls['responseType']"
        name="responseType"
        (selectionChange)="resetResponses()"
      >
        <mat-option *ngFor="let type of responseTypes" [value]="type.value">{{
          type.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox
      class="basic-form-checkbox"
      formControlName="ranking"
      *ngIf="
        addQuestionFormGroup.get('responseType').value !== ResponseType.YEAR
      "
      >Ma question est un classement</mat-checkbox
    >

    <app-basic-paragraph
      [type]="ParagraphType.INFO"
      *ngIf="
        addQuestionFormGroup.get('responseType').value !== ResponseType.YEAR
      "
    >
      Vous pouvez spécifier seulement la bonne réponse : les autres réponses
      proposées durant le quiz seront complétées automatiquement. Vous pouvez
      également spécifier jusqu'à 3 fausses réponses qui seront prises en
      compte.
    </app-basic-paragraph>

    <div
      class="basic-form-input"
      *ngIf="
        responseSelectedLabel != null &&
        addQuestionFormGroup.get('responseType').value !== ResponseType.YEAR &&
        !addQuestionFormGroup.get('ranking').value
      "
    >
      <mat-radio-group
        [(ngModel)]="responseSelectedLabel"
        [ngModelOptions]="{ standalone: true }"
      >
        <div class="response" *ngFor="let response of responses">
          <mat-radio-button [value]="response.label">
            {{ response.label }}
          </mat-radio-button>

          <button
            (click)="removeResponse(response)"
            mat-icon-button
            matTooltip="Supprimer la réponse"
          >
            <i class="fa {{ ICONS.delete }}"></i>
          </button>
        </div>
      </mat-radio-group>
    </div>

    <div
      [sortablejs]="responses"
      *ngIf="
        addQuestionFormGroup.get('responseType').value !== ResponseType.YEAR &&
        addQuestionFormGroup.get('ranking').value &&
        responses.length >= QUIZ_DEFAULT_NBR_RESPONSES_MIN
      "
      class="ranking-responses"
    >
      <div
        *ngFor="let response of responses; let i = index"
        class="ranking-response"
      >
        <span class="ranking">{{ i + 1 }}</span>
        <span class="response">{{ response.label }}</span>
      </div>
    </div>

    <mat-form-field
      appearance="outline"
      class="basic-form-input"
      *ngIf="
        ((ResponseType.isRegular(
          addQuestionFormGroup.get('responseType').value
        ) &&
          responses.length < QUIZ_DEFAULT_NBR_RESPONSES_MAX) ||
          (addQuestionFormGroup.get('ranking').value &&
            responses.length < QUIZ_RANKING_NBR_RESPONSES_MAX)) &&
        addQuestionFormGroup.get('responseType').value !== ResponseType.YEAR
      "
    >
      <mat-label>Chercher une réponse</mat-label>
      <input
        type="text"
        matInput
        #searchInput
        (input)="searchTxt = $event.target.value; searchSuggestions()"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="$event.value && addResponse($event.value)"
      >
        <mat-option
          *ngFor="let res of matchingResponses"
          [value]="res"
          (click)="addResponse(res)"
          >{{ res.label }}</mat-option
        >
        <mat-option
          *ngIf="searchTxt != null && searchTxt !== ''"
          (click)="addNewResponse()"
          >Ajouter une réponse</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="basic-form-input"
      *ngIf="
        addQuestionFormGroup.get('responseType').value === ResponseType.YEAR
      "
    >
      <mat-label>Année</mat-label>
      <input matInput type="number" formControlName="year" />
      <mat-error> L'année est invalide </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="basic-form-input">
      <mat-label>Infos supplémentaires sur la réponse</mat-label>
      <textarea matInput formControlName="explaination"></textarea>
      <mat-error>
        L'info supplémentaire doit avoir une longeur maximum de
        {{ QUESTION_EXPLAINATION_MAX_LENGTH }} caractères
      </mat-error>
    </mat-form-field>
  </div>

  <app-basic-button
    (clicked)="submit()"
    [disabled]="!formValid() || submitting"
    [icon]="questionUuid ? ICONS.edit : ICONS.questionAdd"
    [loading]="submitting"
    [tooltip]="!formValid() ? 'Veuillez remplir tous les champs' : null"
  >
    {{ questionUuid ? 'Editer' : 'Ajouter' }}
  </app-basic-button>
</form>
