#add-question {
  > #add-question-form {
    height: fit-content;
  }
}

app-basic-button {
  align-self: start;
}

mat-radio-group {
  display: flex;
  flex-direction: column;

  > .response {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > mat-radio-button {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      &.mat-radio-checked {
        ::ng-deep {
          .mat-radio-inner-circle {
            background-color: var(--right-color) !important;
          }

          .mat-radio-outer-circle {
            border-color: var(--right-color) !important;
          }
        }
      }
    }
  }
}

.basic-form-inputs {
  margin-bottom: 20px;
}
