@import "./style-var.scss";

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: "Material Icons", "Material Icons";
  .mat-badge-content {
    font-family: "Roboto";
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;

  color: mat-color($mat-accent, darker);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: mat-color($mat-primary, main);

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button.basic-button {
  border-radius: 100px !important;
}

.page-container {
  display: flex;
  justify-content: center;

  background-color: mat-color($mat-accent, lighter);

  &.has-toolbar {
    padding-top: $toolbar-height;
    min-height: calc(100vh - #{$toolbar-height});
  }

  > app-toolbar {
    position: fixed;
    top: 0;
    left: 0;

    height: $toolbar-height;
    width: 100vw;

    z-index: 1000;
  }

  > .main-container {
    width: 100%;
    max-width: $main-container-max-width;

    margin: $main-container-margin-vertical 0;

    &.white-block {
      padding: $main-container-white-block-padding;
      max-width: calc(
        #{$main-container-max-width} - 2 *#{$main-container-white-block-padding}
      );
      height: fit-content;

      background-color: #ffffff;
      box-shadow: $base-shadow;
    }

    > .main-title {
      margin: 16px 0;
    }

    @media only screen and (max-width: $main-container-max-width) {
      margin: 0;

      > h1 {
        text-align: center;
      }

      > p {
        padding: $main-container-margin-vertical;

        text-align: center;
      }
    }
  }
}

.error-snackar {
  background-color: mat-color($mat-warn, main);
}

.confirmation-dialog {
  transition: all 0.1s linear;
  border-radius: 35px;

  & > mat-dialog-container {
    border-radius: 35px;
  }

  &.mobile {
    &:not(.mobile-full) {
      & > mat-dialog-container {
        border-radius: 15px;
      }
    }

    &.mobile-full {
      & > mat-dialog-container {
        border-radius: 0;
      }
    }
  }
}

.basic-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .basic-form-title {
  }

  > .basic-form-inputs {
    display: flex;
    flex-direction: column;

    > .basic-form-input {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  > .basic-form-buttons-container {
    > .basic-button {
      margin-top: 10px;
      width: 100%;
    }
  }
}

mat-spinner {
  margin: auto;
  margin-top: 50px;
}

// responsive
.mobile-showed {
  display: none !important;
}

@media only screen and (max-width: $screen-mobile-width) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-showed {
    display: block !important;
  }
}
