@import "./style-var.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.basic-button {
  border-radius: 100px !important;
}

.page-container {
  display: flex;
  justify-content: center;

  background-color: $page-background-color;

  &.has-toolbar {
    padding-top: $toolbar-height;
    min-height: calc(100vh - #{$toolbar-height});
  }

  > app-toolbar {
    position: fixed;
    top: 0;
    left: 0;

    height: $toolbar-height;
    width: 100vw;

    z-index: 1000;
  }

  > .main-container {
    width: 100%;
    max-width: $main-container-max-width;

    margin: $main-container-margin-vertical 0;

    &.white-block {
      padding: $main-container-white-block-padding;
      max-width: calc(
        #{$main-container-max-width} - 2 *#{$main-container-white-block-padding}
      );
      height: fit-content;

      background-color: #ffffff;
      box-shadow: $base-shadow;
    }

    > .main-title {
      margin: 16px 0;
    }

    @media only screen and (max-width: $main-container-max-width) {
      margin-top: 0;

      > h1 {
        text-align: center;
      }

      > p {
        padding: $main-container-margin-vertical;
        
        text-align: center;
      }
    }
  }
}

.error-snackar {
  background-color: $warn-color;
}

.confirmation-dialog {
  transition: all 0.1s linear;
  border-radius: 35px;

  & > mat-dialog-container {
    border-radius: 35px;
  }

  &.mobile {
    &:not(.mobile-full) {
      & > mat-dialog-container {
        border-radius: 15px;
      }
    }

    &.mobile-full {
      & > mat-dialog-container {
        border-radius: 0;
      }
    }
  }
}

.basic-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .basic-form-title {
    font-size: 1.4rem;
  }

  > .basic-form-inputs {
    display: flex;
    flex-direction: column;

    > .basic-form-input {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  > .basic-form-buttons-container {
    > .basic-button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
