// COLORS
$primary-color: #4c15c3;
$secondary-color: #b0bec5;
$warn-color: #b00020;

// SIZES
$toolbar-height: 120px;
$toolbar-height-mobile: 80px;

$main-container-max-width: 1200px;
$main-container-margin-vertical: 50px;

$screen-mobile-width: 600px;

$questions-space-between: 20px;

$basic-card-radius: 30px;
$basic-card-element-radius: 10px;

$space-between-players: 10px;

// VARIOUS
$base-shadow-small: 0 0 10px 0 rgba(22, 63, 82, 0.1);
$base-shadow: 0 0 25px 0 rgba(22, 63, 82, 0.15);

$impact-font: Impact, Charcoal, sans-serif;

@mixin orange-border {
  text-shadow: var(--secondary-color) 3px 0px 0px,
    var(--secondary-color) 2.83487px 0.981584px 0px,
    var(--secondary-color) 2.35766px 1.85511px 0px,
    var(--secondary-color) 1.62091px 2.52441px 0px,
    var(--secondary-color) 0.705713px 2.91581px 0px,
    var(--secondary-color) -0.287171px 2.98622px 0px,
    var(--secondary-color) -1.24844px 2.72789px 0px,
    var(--secondary-color) -2.07227px 2.16926px 0px,
    var(--secondary-color) -2.66798px 1.37182px 0px,
    var(--secondary-color) -2.96998px 0.42336px 0px,
    var(--secondary-color) -2.94502px -0.571704px 0px,
    var(--secondary-color) -2.59586px -1.50383px 0px,
    var(--secondary-color) -1.96093px -2.27041px 0px,
    var(--secondary-color) -1.11013px -2.78704px 0px,
    var(--secondary-color) -0.137119px -2.99686px 0px,
    var(--secondary-color) 0.850987px -2.87677px 0px,
    var(--secondary-color) 1.74541px -2.43999px 0px,
    var(--secondary-color) 2.44769px -1.73459px 0px,
    var(--secondary-color) 2.88051px -0.838247px 0px;
}

@mixin white-border {
  text-shadow: #ffffff 3px 0px 0px, #ffffff 2.83487px 0.981584px 0px,
    #ffffff 2.35766px 1.85511px 0px, #ffffff 1.62091px 2.52441px 0px,
    #ffffff 0.705713px 2.91581px 0px, #ffffff -0.287171px 2.98622px 0px,
    #ffffff -1.24844px 2.72789px 0px, #ffffff -2.07227px 2.16926px 0px,
    #ffffff -2.66798px 1.37182px 0px, #ffffff -2.96998px 0.42336px 0px,
    #ffffff -2.94502px -0.571704px 0px, #ffffff -2.59586px -1.50383px 0px,
    #ffffff -1.96093px -2.27041px 0px, #ffffff -1.11013px -2.78704px 0px,
    #ffffff -0.137119px -2.99686px 0px, #ffffff 0.850987px -2.87677px 0px,
    #ffffff 1.74541px -2.43999px 0px, #ffffff 2.44769px -1.73459px 0px,
    #ffffff 2.88051px -0.838247px 0px;
}
