// COLORS
$primary-color: #5bce9d;
$secondary-color: #b0bec5;
$warn-color: #b00020;

// SIZES
$toolbar-height: 70px;

$main-container-max-width: 1200px;
$main-container-margin-vertical: 50px;
$main-container-white-block-padding: 50px;

$screen-mobile-width: 600px;

$articles-space-between: 20px;

// VARIOUS
$base-shadow: 0 10px 25px 0 rgba(22, 63, 82, 0.15);

