// COLORS
$warn-color: #b00020;
$grey-clear-color: #f4f4f4;
$page-background-color: #eef2f7;

// SIZES
$toolbar-height: 70px;
$main-container-padding: 50px;
$main-container-max-width: 1200px;

// VARIOUS
$base-shadow: 0 10px 25px 0 rgba(22, 63, 82, 0.15);
