<div id="quiz-infos">
  <div id="quiz-infos-section-top">
    <h2 id="quiz-progression" class="basic-title bordered">
      {{ currentIndex }} / {{ quiz.nbr_questions }}
    </h2>
    <div id="players">
      <div
        *ngFor="let player of players"
        class="player"
        [matTooltip]="player.user.username + ' : ' + player.score + ' pts'"
        [ngClass]="{
          right: player.answerStatus === PlayerAnswerStatus.RIGHT,
          wrong: player.answerStatus === PlayerAnswerStatus.WRONG
        }"
      >
        <app-quiz-player-icon
          [player]="player"
          [borderColor]="
            player.answerStatus === PlayerAnswerStatus.RIGHT
              ? RIGHT_COLOR
              : player.answerStatus === PlayerAnswerStatus.WRONG
              ? WRONG_COLOR
              : null
          "
        ></app-quiz-player-icon>
      </div>
    </div>
  </div>

  <div
    id="quiz-score-bar"
    [matTooltip]="'score: ' + me.score"
    matTooltipPosition="above"
  >
    <div
      class="quiz-score-bullet"
      *ngFor="let answer of me.answerStatusHistory"
      [ngClass]="{
        right: answer === PlayerAnswerStatus.RIGHT,
        wrong: answer === PlayerAnswerStatus.WRONG,
        answering: answer === PlayerAnswerStatus.ANSWERING,
        none: answer === PlayerAnswerStatus.NONE
      }"
    ></div>
  </div>

  <div
    id="quiz-time-bar"
    *ngIf="quiz.question_duration !== 0"
    [ngClass]="{ even: currentIndex % 2 === 0 }"
  >
    <div
      id="quiz-time-bar-inner"
      [ngStyle]="{ 'animation-duration': quiz.question_duration + 's' }"
    ></div>
  </div>
</div>
