@import "./../../../../style-var.scss";

$comment-username-color: mat-color($mat-primary, main);

#comments-section {
    > #comments {
        > .comment {
            padding: 20px;

            > .comment-header {
                > .comment-username {
                    color: $comment-username-color;
                    font-weight: 600;
                    font-size: 0.9rem;

                    margin-bottom: 0;
                }

                > .comment-date {
                    font-style: italic;
                    font-size: 0.7rem;
                }
            }

            > .comment-body {

            }

            &:not(:first-child) {
                border-top: 1px solid mat-color($mat-accent, lighter);
            }
        }
    }

  > #comment-form {
    margin-top: $main-container-white-block-padding;
  }
}
