<div id="register-container">
  <form id="register-form" class="basic-form" [formGroup]="registerFormGroup">
    <h1 class="basic-title bordered">S'enrregistrer</h1>

    <p>Déjà inscrit ? <a href="/login">Se connecter</a></p>

    <div class="basic-form-inputs">
      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error> Entrez une adresse email valide</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="!usernameExists.state">
          Le nom d'utilisateur doit avoir une longueur comprise entre
          {{ USERNAME_MIN_LENGTH }} et {{ USERNAME_MAX_LENGTH }} caractères
        </mat-error>
        <mat-error *ngIf="usernameExists.state">
          Ce nom d'utilisateur est déjà pris
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error>
          Le mot de passe doit avoir une longueur comprise entre
          {{ PASSWORD_MIN_LENGTH }} et {{ PASSWORD_MAX_LENGTH }} caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="basic-form-input">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input
          matInput
          formControlName="passwordConfirmation"
          type="password"
        />
        <mat-error>
          Le mot de passe et la confirmation doivent être identiques
        </mat-error>
      </mat-form-field>
    </div>

    <div
      class="basic-form-buttons-container"
      [matTooltip]="
        registerFormGroup.invalid ? 'Veuillez remplir tous les champs' : null
      "
    >
      <app-basic-button
        (clicked)="register()"
        [disabled]="
          registerFormGroup.invalid || usernameExists.loading || submitting
        "
        [icon]="ICONS.register"
      >
        S'enregistrer
      </app-basic-button>
    </div>
  </form>
</div>
